{% extends "wateringApp/base.html" %} 

{% block header %} 
  Podręczny zbiór inforamcji o kwiatach
{% endblock header%} 

{% block contents%}
<div class="ui three stackable cards">
    <div class="card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
        </div>
        <div class="content">
            <a class="header">Elliot Fu</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
        </div>
        <div class="content">
            <a class="header">Elliot Fu</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
        </div>
        <div class="content">
            <a class="header">Elliot Fu</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
        </div>
        <div class="content">
            <a class="header">Elliot Fu</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
        </div>
        <div class="content">
            <a class="header">Elliot Fu</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
        </div>
        <div class="content">
            <a class="header">Elliot Fu</a>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="ui icon message" id="message">
    <div class="content">
        <div class="header">
            Wyszukiwarka
        </div>
        <p>Znjadź roślinę w nasz bazie danych</p>
        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
</div>
{% endblock %}

{% block script %} {% endblock %}        