{% extends "wateringApp/base.html" %} 

{% block header %} 
    Statystyki czujników 
{% endblock header%} 

{% block contents%}
<div class="ui stackable grid">
    <div class="sixteen wide column">
        <h3>
            <i class="sun outline icon"></i>Nasłonecznienie</h3>
        <canvas id='lumen' width="200" height="100"></canvas>
    </div>
    <div class="sixteen wide column">
        <h3>
            <i class="fire icon"></i>Wilgotność gleby</h3>
        <canvas id='waterContent' width="200" height="100"></canvas>
    </div>
    <div class="sixteen wide column">
        <h3>
            <i class="thermometer half icon"></i>Temperatura</h3>
        <canvas id='temperature' width="200" height="100"></canvas>
    </div>

</div>
{% endblock %}

{% block sidebar %}
<div class="ui icon message" id="message">
    <div class="content">
        <div class="header">
            Opcje
        </div>
        <p>Jakieś opcje</p>
    </div>
</div>
{% endblock %}

{% block script %} 

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<script>
        var ctx1 = document.getElementById("lumen");
        var ctx2 = document.getElementById("waterContent");
        var ctx3 = document.getElementById("temperature");
        var lumen, temperature, waterContent;
        var lumenLabels=[], lumenData=[];
        var temperatureLabels=[], temperatureData=[];
        var waterContentLabels=[], waterContentData=[];
        $.ajax({
            url: "/api/data",
            async: false, //to do: zrobić to ładniej
            success: function (object) {
                lumen = object.lumen;
                temperature = object.temperature;
                waterContent= object.waterContent;
                },
        });

        for(i = 0; i< lumen.length;i++){
            lumenLabels.push(lumen[i].dataPub.slice(0, -4).replace("T", " "));
            lumenData.push(lumen[i].value)
        }
        for(i = 0; i< temperature.length;i++){
            temperatureLabels.push(temperature[i].dataPub.slice(0, -4).replace("T", " "));
            temperatureData.push(temperature[i].value)
        }
        for(i = 0; i< waterContent.length;i++){
            waterContentLabels.push(waterContent[i].dataPub.slice(0, -4).replace("T", " "));
            waterContentData.push(waterContent[i].value)
        }

    var lumen = new Chart(ctx1, {
        type: 'line',
        data: {
            labels: lumenLabels,
            datasets: [{
                data: lumenData,
                backgroundColor: [
                    'rgb(251, 189, 8, 0.5)',
                ],
                borderColor: [
                    'rgb(251, 189, 8. 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var waterContent = new Chart(ctx2, {
        type: 'line',
        data: {
            labels:  waterContentLabels,
            datasets: [{
                data:  waterContentData,
                backgroundColor: [
                    'rgb(33, 133, 208, 0.5)',
                ],
                borderColor: [
                    'rgb(33, 133, 208, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var temperature = new Chart(ctx3, {
        type: 'line',
        data: {
            labels: temperatureLabels,
            datasets: [{
                data: temperatureData,
                backgroundColor: [
                    'rgb(165, 103, 63, 0.5)',
                ],
                borderColor: [
                    'rgb(165, 103, 63, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script> 
{% endblock %}